# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
for col in db.list_collections():
    print(col)

{'name': 'establishments', 'type': 'collection', 'options': {}, 'info': {'readOnly': False, 'uuid': Binary(b"\xb6=#\x91?\x18E\xd1\xb5C'\xad\xa6B\xa1\xa4", 4)}, 'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene':20}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64b436625083ab9d6fc2aede'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [7]:
# Convert the result to a Pandas DataFrame
query = {'scores.Hygiene':20}
results = establishments.find(query)
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,64b436625083ab9d6fc2aede,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,64b436625083ab9d6fc2b25e,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,64b436635083ab9d6fc2b571,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,64b436635083ab9d6fc2b757,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,64b436635083ab9d6fc2b766,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,64b436635083ab9d6fc2c104,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,64b436635083ab9d6fc2c326,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,64b436635083ab9d6fc2d851,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,64b436635083ab9d6fc2dc97,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,64b436645083ab9d6fc2e4a8,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    'LocalAuthorityName':{
        '$regex':'London'
    },
    'RatingValue':{
        '$gte':4
    }
}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64b436635083ab9d6fc2c8f9'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [9]:
# Convert the result to a Pandas DataFrame
query = {
    'LocalAuthorityName':{
        '$regex':'London'
    },
    'RatingValue':{
        '$gte':4
    }
}

results = establishments.find(query)
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,64b436635083ab9d6fc2c8f9,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,64b436635083ab9d6fc2cc1f,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,64b436635083ab9d6fc2d76f,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,64b436645083ab9d6fc2e56a,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,64b436645083ab9d6fc2e56c,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,64b436645083ab9d6fc2ec76,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,64b436655083ab9d6fc30d83,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,64b436655083ab9d6fc3114a,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,64b436655083ab9d6fc31164,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,64b436655083ab9d6fc31165,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

penang = establishments.find_one({"BusinessName":"Penang Flavours"})

degree_search = 0.01
lat = penang['geocode']['latitude']
lon = penang['geocode']['longitude']

query = {
    'geocode.latitude':{'$gte':lat-degree_search},
    'geocode.latitude':{'$lte':lat+degree_search},
    'geocode.longitude':{'$gte':lon-degree_search},
    'geocode.longitude':{'$lte':lon+degree_search},
    'RatingValue':5
}

sort = [('scores.Hygiene',1)]

# Print the first 5 results
for i in range(5):
    pprint(list(establishments.find(query).sort(sort))[i])

{'AddressLine1': 'North Hall Farm',
 'AddressLine2': 'North Hall Lane',
 'AddressLine3': 'Fletching',
 'AddressLine4': 'East Sussex',
 'BusinessName': 'Northall CPC',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4631.9412296579985,
 'FHRSID': 184934,
 'LocalAuthorityBusinessID': 'PI/400005256',
 'LocalAuthorityCode': '107',
 'LocalAuthorityEmailAddress': 'envhealth@rother.gov.uk',
 'LocalAuthorityName': 'Wealden',
 'LocalAuthorityWebSite': 'http://www.wealden.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'TN22 3SA',
 'RatingDate': '2022-03-07T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64b436635083ab9d6fc2d73b'),
 'geocode': {'latitude': 51.006613, 'longitude': 0.022783},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/184934',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None}}
{'AddressLine1': '9 Hartfield Road',
 'AddressLine2': 'Forest Row',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'Roochi Ltd',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': 1,
 'ChangesByServerID': 0,
 'Distance': 4634.823529709642,
 'FHRSID': 162872,
 'LocalAuthorityBusinessID': 'PI/000003806',
 'LocalAuthorityCode': '107',
 'LocalAuthorityEmailAddress': 'envhealth@rother.gov.uk',
 'LocalAuthorityName': 'Wealden',
 'LocalAuthorityWebSite': 'http://www.wealden.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'RH18 5DN',
 'RatingDate': '2021-07-28T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64b436635083ab9d6fc2deb0'),
 'geocode': {'latitude': 51.097521, 'longitude': 0.034461},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/162872',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None}}
{'AddressLine1': '59 High Street',
 'AddressLine2': 'Edenbridge',
 'AddressLine3': 'KENT',
 'AddressLine4': '',
 'BusinessName': 'Magic Wok',
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4637.314456896255,
 'FHRSID': 266978,
 'LocalAuthorityBusinessID': '11/00025/MIXED',
 'LocalAuthorityCode': '187',
 'LocalAuthorityEmailAddress': 'environmental.health@sevenoaks.gov.uk',
 'LocalAuthorityName': 'Sevenoaks',
 'LocalAuthorityWebSite': 'http://www.sevenoaks.gov.uk/',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'TN8 5AL',
 'RatingDate': '2022-03-16T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64b436645083ab9d6fc2e63b'),
 'geocode': {'latitude': 51.196736, 'longitude': 0.065179},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/266978',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None}}
{'AddressLine1': '1 Winterton Court',
 'AddressLine2': 'Market Square',
 'AddressLine3': 'Westerham',
 'AddressLine4': 'Kent',
 'BusinessName': 'Sultan Kebab House',
 'BusinessType': 'Takeaway/sandwich shop',
 'BusinessTypeID': 7844,
 'ChangesByServerID': 0,
 'Distance': 4639.681032207483,
 'FHRSID': 266897,
 'LocalAuthorityBusinessID': '09200/2000/2/000',
 'LocalAuthorityCode': '187',
 'LocalAuthorityEmailAddress': 'environmental.health@sevenoaks.gov.uk',
 'LocalAuthorityName': 'Sevenoaks',
 'LocalAuthorityWebSite': 'http://www.sevenoaks.gov.uk/',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'TN16 1AL',
 'RatingDate': '2022-03-03T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64b436645083ab9d6fc2eac7'),
 'geocode': {'latitude': 51.266922, 'longitude': 0.070589},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/266897',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None}}
{'AddressLine1': 'Wolf House',
 'AddressLine2': 'Wolfs Row',
 'AddressLine3': '',
 'AddressLine4': 'Limpsfield',
 'BusinessName': 'Wolfe House Resid. Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4641.271316270499,
 'FHRSID': 105360,
 'LocalAuthorityBusinessID': '36199',
 'LocalAuthorityCode': '313',
 'LocalAuthorityEmailAddress': 'fsa_enforcement@tandridge.gov.uk',
 'LocalAuthorityName': 'Tandridge',
 'LocalAuthorityWebSite': 'http://www.tandridge.gov.uk/',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'RH8 0EB',
 'RatingDate': '2022-06-14T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': 5,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64b436645083ab9d6fc2ef0c'),
 'geocode': {'latitude': 51.255431, 'longitude': 0.015813},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/105360',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': None,
            'Hygiene': None,
            'Structural': None}}

In [11]:
# Convert the result to a Pandas DataFrame
penang = establishments.find_one({"BusinessName":"Penang Flavours"})

degree_search = 0.01
lat = penang['geocode']['latitude']
lon = penang['geocode']['longitude']

query = {
    'geocode.latitude':{'$gte':lat-degree_search},
    'geocode.latitude':{'$lte':lat+degree_search},
    'geocode.longitude':{'$gte':lon-degree_search},
    'geocode.longitude':{'$lte':lon+degree_search},
    'RatingValue':5
}

sort = [('scores.Hygiene',1)]

results = establishments.find(query).sort(sort)
df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

2115

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,64b436635083ab9d6fc2d73b,184934,0,PI/400005256,Northall CPC,Pub/bar/nightclub,7843,North Hall Farm,North Hall Lane,Fletching,...,0.022783,51.006613,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,64b436635083ab9d6fc2deb0,162872,0,PI/000003806,Roochi Ltd,Restaurant/Cafe/Canteen,1,9 Hartfield Road,Forest Row,East Sussex,...,0.034461,51.097521,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,64b436645083ab9d6fc2e63b,266978,0,11/00025/MIXED,Magic Wok,Other catering premises,7841,59 High Street,Edenbridge,KENT,...,0.065179,51.196736,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,64b436645083ab9d6fc2eac7,266897,0,09200/2000/2/000,Sultan Kebab House,Takeaway/sandwich shop,7844,1 Winterton Court,Market Square,Westerham,...,0.070589,51.266922,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,64b436645083ab9d6fc2ef0c,105360,0,36199,Wolfe House Resid. Home,Caring Premises,5,Wolf House,Wolfs Row,,...,0.015813,51.255431,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,64b436635083ab9d6fc2b8b7,637054,0,PI/000061384,Costcutter Claremont,Retailers - other,4613,29-31 Claremont Road,Seaford,East Sussex,...,0.093059,50.776010,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,64b436635083ab9d6fc2b8b8,174020,0,PI/000027807,Angies Newsagents,Retailers - other,4613,23 Claremont Road,Seaford,East Sussex,...,0.093059,50.776010,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,64b436635083ab9d6fc2b90b,174047,0,PI/000027871,Clifden House Dementia Care Centre,Caring Premises,5,80-88 Claremont Road,Seaford,East Sussex,...,0.089886,50.776112,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,64b436635083ab9d6fc2b911,173610,0,PI/000026322,Beachlands Care Home,Caring Premises,5,Marine Parade,Seaford,East Sussex,...,0.088903,50.775392,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,64b436635083ab9d6fc2b997,173738,0,PI/000026802,Ab Fab Rooms,Hotel/bed & breakfast/guest house,7842,11 Station Road,Seaford,East Sussex,...,0.083468,50.780751,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [12]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': {'$eq': 0}}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': { '$sum': 1 }}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1 }}

pipeline = [match_query, group_query, sort_values]
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(f"Results count: {len(results)}")

Results count: 55

In [13]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print(len(df))

# Display the first 10 rows of the DataFrame
df.head(10)

55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542